# Ignorar todo en la carpeta "Template/psicosocial/visitas/"
Template/psicosocial/Psicosocialvisitaspersonalizadas/*

# Incluir el archivo "plantilla.docx" en la carpeta "Template/psicosocial/visitas/"
Template/psicosocial/Psicosocialvisitaspersonalizadas/plantilla.docx